/* Import default styles */
@import url("default.css");

/* Dashboard styles */
@import url("dashboard.css");

table {
    position: static;
    width: 100%;
    border-collapse: collapse;
}

tr {
    border-bottom: 1px solid #18628d50;
}

th,
td {
    padding: 8px;
    text-align: left;
}

.table-header {
    position: sticky;
    background-color: var(--color-very-dark-blue);
    color: var(--color-white);
}

.alert {
    padding: 20px;
    margin: 10px 0px;
    background-color: var(--color-very-dark-blue);
    width: 20vw;
    border-radius: 16px;
    color: var(--color-white);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.alert span:nth-child(1) {
    font-size: 1.8rem;
    margin: 0px 10px;
    font-weight: bold;
}

.alert svg {
    width: 25px;
    height: 25px;
    fill: yellow;
}

.marcar_lido.red {
    border: 1px solid red;
}
.marcar_lido.green{
    border: 2px solid green;
}

.marcar_lido:hover {
    cursor: pointer;
    text-decoration: underline;
}


.color {
    display: flex;
    height: 10px;
    width: 10px;
    content: "";
    border-radius: 10px;
    margin: 0px 5px;
}
.color.danger{
    background-color: var(--color-alert);
}
.color.Verydanger{
    background-color: var(--color-danger);
}

.kpi-status-id {
    display: flex;
    align-items: center;
}
