/* Import default styles */
@import url("default.css");

body {
    display: flex;
    background-color: var(--color-white);
    height: 100%;
}

/* Sidebar */
.sidebar {
    background-color: var(--color-very-dark-blue);
    width: 20vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 10px 0px 10px;
    height: 100vh;
    position: sticky;
    top: 0;
}

.sidebar .logo {
    display: flex;
    margin: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sidebar .logo span {
    color: var(--color-white);
    margin-bottom: 20px;
    border-bottom: 1px solid #dcdcdc;
}

.sidebar .logo svg {
    width: 200px;
}

.links-container {
    display: flex;
    justify-content: flex-start;
}

.links-container ul {
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
}

.links-container ul li {
    border-radius: 16px;
    list-style: none;
    color: var(--color-white);
    margin: 10px 0px;
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    transition: 200ms ease-in-out;
}

.links-container ul li:hover {
    cursor: pointer;
    background-color: var(--color-dark-blue);
}

.links-container ul li svg {
    margin: 0px 5px;
}

/* Logout */
.logout {
    display: flex;
    align-items: center;
    padding: 10px;
    color: var(--color-white);
    justify-content: space-evenly;
    border-radius: 16px;
    margin: 0px 5px;
}

.logout button {
    display: flex;
    align-items: center;
    transition: 180ms ease-in-out;
    background-color: var(--color-very-dark-blue);
    border: none;
    border-radius: 5px;
    padding: 5px;
}

.logout button:hover {
    background-color: var(--color-dark-blue);
}

.logout button:hover > svg {
    fill: var(--color-danger);
}

.body {
    padding: 0% 2% 2% 2%;
    width: 100%;
}

.title {
    position: sticky;
    top: 0;
    margin: 16px 0px;
    padding: 10px 0px;
    color: var(--color-very-dark-blue);
    font-size: 1.5rem;
    background-color: var(--color-white);
    border-bottom: 1px solid var(--color-very-dark-blue);
    z-index: 100;
}

.kpi {
    width: 100%;
    display: flex;
}

.card {
    background-color: var(--color-very-dark-blue);
    padding: 10px;
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    border-radius: 16px;
    color: var(--color-white);
    width: 250px;
}

.card span {
    margin: 3px 0px;
}

.info {
    font-size: 1.5rem;
    font-weight: bold;
}

.information {
    font-size: 0.8rem;
}

.container {
    overflow-y: auto;
}

#media_setor {
    padding: 10px;
    width: 100% !important;
    height: 90% !important;
}

.modal-logout {
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(2px);
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 200;
    width: 100%;
    height: 100%;
}

.container-modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: first baseline;
    background-color: var(--color-white);
    padding: 2%;
    border-radius: 16px;
}

.container-modal .buttons button {
    margin: 0px 5px;
    padding: 12px 25px;
    border-radius: 16px;
    border: none;
    color: var(--color-white);
    width: 200px;
    transition: 200ms ease-in-out;
}

.title-modal {
    margin: 10px;
    font-size: 1.2rem;
    color: var(--color-very-dark-blue);
}

#confirm {
    background-color: var(--color-danger);
    border: 1px solid var(--color-danger);
}

#cancel {
    background-color: var(--color-very-dark-blue);
    border: 1px solid var(--color-very-dark-blue);
}

#cancel:hover {
    background-color: var(--color-dark-blue);
}

.alerta-message {
    padding: 20px 0px;
}
