@import url("default.css");

.modal-container-sensores .container {
    margin-bottom: 1.25rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 2%;
    justify-content: space-evenly;
}

.titulo-dash {
    font-size: 1.5rem;
    color: var(--color-very-dark-blue);
    font-weight: bold;
}

.cards-kpi {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    gap: 1rem;
}

.card-individual {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 250px;
    padding: 5%;
    border-radius: 16px;
    background-color: var(--color-very-dark-blue);
    color: var(--color-white);
}

.titulo-card {
    font-size: 1rem;
}

.dado-kpi {
    font-size: 1.5rem;
}

.legenda-kpi {
    font-size: 0.75rem;
    font-style: italic;
}

.container-sensor {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.3);
    border-radius: 16px;
}

.container-graficos {
    width: 70%;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5rem;
    align-items: stretch;
}

.titulo-sensor {
    position: sticky;
    top: 0;
    height: 3rem;
    width: 100%;
    background-color: var(--cor-ativo);
    color: var(--cor-texto);
    display: flex;
    justify-content: start;
    align-items: center;
    border-radius: 1rem;
    margin-top: 0.4rem;
}

.titulo-sensor span {
    margin: 0.4rem;
}

.close {
    display: flex;
    justify-content: flex-end;
    bottom: 5%;
    width: 100%;
    position: absolute;
    width: 90%;
    background-color: var(--color-white);
    border-radius: 16px;
    padding: 10px 3%;
}

.close button {
    padding: 10px 50px;
    background-color: var(--color-very-dark-blue);
    border-radius: 16px;
    border: 1px solid var(--color-very-dark-blue);
    color: var(--color-white);
}
