/* Import default styles */
@import url("default.css");

/* Dashboard styles */
@import url("dashboard.css");

.sensores-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: auto;
    gap: 10px;
}

.card-sensor {
    display: flex;
    flex-direction: column;
    background-color: var(--color-white);
    margin: 10px 2px;
    padding: 16px;
    border-radius: 16px;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.3);
    transition: 200ms ease-in-out;
}

.card-sensor h3 {
    color: var(--color-very-dark-blue);
}

.card-sensor:hover {
    cursor: pointer;
    transform: translate(0px, -5px);
}
